.cringe {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content {
    margin: auto;
}

.game {
    display: block;
    height: 624px;
    width: 816px;
    border: none;
    min-height: 624px;
    min-width: 816px;
    overflow-y: auto;
    overflow-x: hidden;
}

.title {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 10px;
}

.links {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    justify-content: center;
}

.link-button {
    height: 121px;
    width: 132px;
    opacity: 0.7;
    transition: 0.5s;
}

.link-button:hover {
    opacity: 1;
    text-shadow: #8e8e8e;
}

@font-face {
    font-family: 'a_MachinaOrtoSls';
    src: url('/misc/fonts/a_MachinaOrtoSls-Bold.eot');
    src: url('/misc/fonts/a_MachinaOrtoSls-Bold.eot?#iefix') format('embedded-opentype'),
        url('/misc/fonts/a_MachinaOrtoSls-Bold.woff2') format('woff2'),
        url('/misc/fonts/a_MachinaOrtoSls-Bold.woff') format('woff'),
        url('/misc/fonts/a_MachinaOrtoSls-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@media screen and (max-width: 1100px) {
    .cringe {
        flex-direction: column;
        align-items: center;
    }
    .game {
        order: -1;
        padding-bottom: 10px;
    }
    .links {
        margin-top: 10px;
        flex-direction: row;
    }
}

.help-button {
    font-size: 40px;
    font-family: a_MachinaOrtoSls, monospace;
    color: white;
    text-shadow: #000 3px 0 1px, #000 0 3px 1px, #000 -3px 0 1px, #000 0 -3px 1px;
    margin-top: 25px;
    padding-bottom: 10px;
    text-align: center;
}

.help-button:first-letter {
    color: red;
}

.help-button:hover {
    text-shadow: #000 4px 0 3px, #000 0 4px 3px, #000 -4px 0 3px, #000 0 -4px 3px;
}

.help-popup {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: black;
    height: 20px;
    text-align: center;
    color: white;
}

.help-popup.div {
    vertical-align: center;
}

/* Я и есть кринж */